<?xml version="1.0" encoding="UTF-8"?>
<settings
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <servers>
    <server>
      <id>crew_integracion</id>
      <username>\${env.ARTIFACT_USER}</username>
      <password>\${env.ARTIFACT_PASSWORD}</password>
    </server>

  </servers>

  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>crew_integracion</id>
          <name>aolshared1-releases</name>
          <url>https://artifactorytlm.jfrog.io/artifactorytlm/archintegracion-mvn-release-local</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

</settings>
