root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 100
ij_visual_guides = 100
ij_java_names_count_to_use_import_on_demand = 10
ij_java_class_count_to_use_import_on_demand = 15

